<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_tube_launcher"
        android:roundIcon="@drawable/my_tube_launcher"
        android:usesCleartextTraffic="false"
        android:theme="@style/AppTheme"
        android:label="My Tube">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YoutubeLoginActivity"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:label="YouTube 로그인" />
    </application>
</manifest>
